@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

@layer base {
  html {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-800;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
